div.left {
  float:left;
  width:50%;
}
div.right {
  float:right;
  width:50%;
}

FORM.properties SPAN.property {
  width:150px;
}

img.icon {
  vertical-align:middle;
}

label.color {
  display:inline-block;
  width:12px;
  height:12px;
  margin:3px;
  vertical-align:middle;
}
  label.color:hover {
    width:16px;
    height:16px;
    margin:1px;
  }
    
  label.color.active {
    border:1px solid #000;
    border-radius:3px;
    width:16px;
    height:16px;
    margin:0;
  }
    label.color.active.roma {
      border-color:#fff;
    }
  label.color input {
    visibility:hidden;
  }
  
.showInfo {
  position:static;
  display:inline-block;
  padding:1px 7px;
  width:4px;
  height:16px;
  line-height:16px;
  font-size:0.8em;
}

ul.services li {
  display:inline;
  margin-left:20px;
}

#change_warning {
  display:block;
  color:#c00;
  font-weight:bold;
}